@{
  Layout = "_Layout";
}

@using Library.Models;
@model Book

<h2> Add an author to @Html.DisplayFor(model => model.Title)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)
  
  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list of books", "Index")</p>